body{
    background-color: rgb(233, 230, 230);
    margin: 0%;
}
 
header {
    background-color: #5f939a;
    color: rgba(235, 223, 223, 0.917);
    height: 100px;

}
ul li{
    list-style-type: none;
    display: inline;
    margin: 50px;
    font-size: 30px;
  
  
  }
  h1 {
      margin-top: 0%;
  }
  ul{
     margin-left: 350px; 
     
  } 
   main {
       margin: 0%;
    background-color:#d8ac9c;

  } 

 
  .container{
    display: inline-block;
    text-align: center;
    height: 450px;
    width: 40%;
    margin-left:100px;
}

  footer{
    height: 100px;
    background-color: darkslategray;
    color: rgba(235, 223, 223, 0.917);
}

footer p{
    text-align: center;
    font-size: 30px;
    vertical-align: middle;
    line-height: 100px;
    
} 